# 주피터 노트북 기본

## 셀 추가 / 삭제
코드버튼 클릭 - Python 코드 셀 추가
Markdown 버튼 클릭 = 마크다운 쉘 추가


### 주피터 노트북 대표 단축키
- Ctrl + Enter 셀 실행 
- Shift + Enter 셀 실행 아래 같은 셀 추가
- Enter 현재 셀 진입
- ESC 현재 셀 빠져나가기
- b 현재 셀 아래 세 셀 추가
- a 현재 셀 위 세 셀 추가
- m 현재 셀(python) -> 마크다운 셀 변경
- y 현재 셀(Markdown) -> 파이선 셀 변경
- Shift + L 셀 라인번호 표시 토글

In [1]:
print('여기는 파이썬 셀')

여기는 파이썬 셀

# 일반출력

``` Python

print('Hello, Python!') #마크다운 코드추가

```

### 이미지 추가

> **인용** 인용


<img src="https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262_1280.jpg" width="400">

<img src="https://i0.wp.com/www.printmag.com/wp-content/uploads/2021/02/4cbe8d_f1ed2800a49649848102c68fc5a66e53mv2.gif?resize=476%2C280&ssl=1" width="400">

---

|제목|내용|비고|
|:----|----------:|:----:|
|제목1|내용1|비고1|
|제목2|내용2|비고2|
|제목3|내용내용내용입니다|비고3|
|제목입니다입니다|내용4|비고4이비낟|

### 주피터 노트북 디버깅


- 브레이크 포인트(중단점 클릭)
- Ctrl + Shift + Alt + Enter
    - py 디버깅과 동일(F10, F11) 사용

In [2]:
# 나누기 함수
def divide(x, y):
    result = ''
    try:
        result = x // y
    except Exception as e:
        print(f'예외 발생 : {e}')
        
    print('나누기 완료')
    return result

In [3]:
print(divide(7, 0))

예외 발생 : integer division or modulo by zero
나누기 완료

### 출력 python과 차이점

변수를 출력할 때 
- 변수명만 입력 후 실행 결과출력
- print()도 출력
    - 단, 변수만 쓸 때는 제일 마지막 변수만 출력됨
    - 여러번 출력하고 싶으면 print() 사용할 것
    - 하지만 변수를 그냥 출력할 때랑 print() 출력할 때랑 결과가 다를 수 있다

In [4]:
a = 'Hello Python!'
a

'Hello Python!'

In [5]:
print(a)
print(a)

Hello Python!
Hello Python!

In [6]:
b = [1, 2, 3, 4, 5]
b

[1, 2, 3, 4, 5]

In [7]:
print(b)

[1, 2, 3, 4, 5]

#### 경로 문제 해결
- .py에서의 파일 경로와 .ipynb 경로가 다름
    - .py : ./Day04/dummy_member.csv
    - .ipynb : ./dummy_member.csv

In [8]:
import pandas as pd 

df = pd.read_csv('./dummy_members.csv') # 주의점! 주피터 노트북에서는 같은 폴더에 파일을 읽을 때

df

,Unnamed: 0,이름,우편번호,주소,전화번호,이메일
0,0,강현숙,66586,세종특별자치시 서구 삼성05가,031-059-4909,songeunjeong@example.com
1,1,김승민,45498,충청북도 안양시 만안구 압구정4거리 (정호김마을),017-896-7680,bagseonghyeon@example.org
2,2,김현지,38665,전라남도 수원시 장안구 도산대1가 (영수김면),016-191-5720,yeongmigim@example.org
3,3,김미영,84524,부산광역시 강남구 반포대43로,02-6332-0640,gimjia@example.net
4,4,고중수,13741,경기도 안양시 만안구 언주길 (정식이황읍),019-367-8712,gwangsu98@example.net
5,5,오춘자,67584,전라남도 안산시 봉은사거리 (은경박동),041-277-2426,ao@example.net
6,6,이영순,74002,서울특별시 용산구 가락로 (영수강면),032-375-3062,sanghun60@example.net
7,7,고지혜,38056,대전광역시 동구 서초대40거리,041-544-6009,seohyeon61@example.net
8,8,강영순,9767,서울특별시 남구 압구정가,031-485-1496,jeongnam94@example.com
9,9,류영희,23667,부산광역시 도봉구 학동가,010-2766-8475,coeeunju@example.org

In [9]:
import os 

os.getcwd()

'c:\\Source\\bigdata-python-2023\\Day04'

### 출력 초과 문제

콘솔이나 주피터 셀출력 전체가 다 안나오는 현상(성능적 문제때문에 제약)

``` Python
pd.options.display.max_columns = None
pd.options.display.max_rows = None # 1000
```

In [17]:
# pd.set_option('display.max_columns', None)
pd.options.display.max_columns = 10
pd.options.display.max_rows = 100

data = pd.read_csv('./dummy_members2.csv', encoding='utf-8')

data

,Unnamed: 0,이름,우편번호,주소,전화번호,이메일
0,0,홍정호,78490,세종특별자치시 강서구 테헤란가,052-678-8463,bagseoyeon@example.net
1,1,남영숙,13696,인천광역시 은평구 논현0가,051-114-2379,ogyeonghyi@example.net
2,2,박춘자,13298,전라북도 성남시 서초중앙길,044-029-7031,baejeongung@example.net
3,3,김정식,17114,제주특별자치도 속초시 서초대57거리,031-475-4919,haeuncoe@example.org
4,4,류영희,61452,인천광역시 용산구 석촌호수거리,043-060-5145,ogjahan@example.net
...,...,...,...,...,...,...
995,995,주민지,91531,경상북도 청주시 상당구 도산대가 (도현허읍),019-948-4934,minjun04@example.org
996,996,김서연,24686,광주광역시 송파구 서초중앙로 (예준전박마을),070-9950-9231,jeonghyi17@example.com
997,997,서서준,50038,대전광역시 중구 오금로 (채원장김리),062-647-5303,rgim@example.net
998,998,오지현,84096,충청북도 안양시 만안구 반포대071거리,043-989-0334,jeongsugno@example.com
999,999,이영식,82336,인천광역시 관악구 개포길,017-329-7103,iyujin@example.com