#### 미세먼지 현황 분석

##### 데이터 수집 사이트

- 에어코리아 : https://www.airkorea.or.kr/web/pastSearch?pMENU_NO=123

- 기상자료 개방포털 : https://data.kma.go.kr/data/grnd/selectAwsRltmList.do?pgmNo=56

In [1]:
import pandas as pd
import numpy as np

In [5]:
dust2203 = pd.read_excel('./raw/202203_data_past_day.xlsx')
dust2203.drop(axis=0, index=[0], inplace=True) # 두 번째 행 삭제
dust2203

            날짜 PM10 PM2.5    오 존  이산화질소 일산화탄소  아황산가스
1   2022-03-01   46    32  0.028  0.026   0.3  0.003
2   2022-03-02   48    33  0.028  0.018   0.3  0.003
3   2022-03-03   52    30  0.034  0.021   0.3  0.004
4   2022-03-04   93    47  0.035  0.026   0.4  0.004
5   2022-03-05   89    21  0.039  0.010   0.2  0.003
6   2022-03-06   26    10  0.036  0.009   0.2  0.002
7   2022-03-07   50    26  0.027  0.023   0.3  0.003
8   2022-03-08   69    35  0.028  0.026   0.3  0.003
9   2022-03-09   78    47  0.035  0.026   0.4  0.003
10  2022-03-10   85    48  0.039  0.024   0.4  0.003
11  2022-03-11   74    41  0.033  0.028   0.3  0.003
12  2022-03-12   49    28  0.028  0.020   0.3  0.002
13  2022-03-13   27    15  0.040  0.008   0.2  0.001
14  2022-03-14   25    15  0.029  0.018   0.3  0.002
15  2022-03-15   38    23  0.033  0.020   0.4  0.002
16  2022-03-16   56    36  0.018  0.039   0.4  0.007
17  2022-03-17   39    21  0.034  0.017   0.3  0.002
18  2022-03-18   11     5  0.037  0.009   0.2  0.002
19  2022-03-19   16    10  0.026  0.016   0.3  0.002
20  2022-03-20   15    12  0.031  0.011   0.3  0.002
21  2022-03-21   26    17  0.028  0.017   0.3  0.003
22  2022-03-22   39    25  0.035  0.014   0.3  0.003
23  2022-03-23   50    32  0.026  0.025   0.3  0.004
24  2022-03-24   69    48  0.039  0.018   0.4  0.003
25  2022-03-25   63    40  0.034  0.022   0.4  0.004
26  2022-03-26   17    10  0.038  0.008   0.3  0.002
27  2022-03-27   34    15  0.039  0.009   0.3  0.002
28  2022-03-28   24    12  0.034  0.013   0.2  0.002
29  2022-03-29   35    18  0.024  0.024   0.3  0.003
30  2022-03-30   44    25  0.016  0.027   0.3  0.004
31  2022-03-31   33    20  0.030  0.014   0.3  0.002

In [7]:
dust2203.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 1 to 31
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      31 non-null     object
 1   PM10    31 non-null     object
 2   PM2.5   31 non-null     object
 3   오 존     31 non-null     object
 4   이산화질소   31 non-null     object
 5   일산화탄소   31 non-null     object
 6   아황산가스   31 non-null     object
dtypes: object(7)
memory usage: 1.8+ KB

In [ ]:
# 컬럼명을 영문으로
dust2203.rename(columns={'날짜':'date', 'PM10': 'pm10', 'PM2.5':'pm25', '오 존': 'o3', '이산화질소':'no2', '일산화탄소' : 'co', '아황산가스': 'so2'}, inplace=True) # inplace까지 해야 바뀜

dust2203

In [11]:
dust2203.dtypes

date    object
pm10    object
pm25    object
o3      object
no2     object
co      object
so2     object
dtype: object

In [23]:
# 타입변경
dust2203 = dust2203.astype({'date':'datetime64[ns]', 'pm10':'int64', 'pm25':'int64', 'o3': 'float64', 'no2':'float64', 'co':'float64', 'so2':'float64'})
dust2203.tail()

         date  pm10  pm25     o3    no2   co    so2
27 2022-03-27    34    15  0.039  0.009  0.3  0.002
28 2022-03-28    24    12  0.034  0.013  0.2  0.002
29 2022-03-29    35    18  0.024  0.024  0.3  0.003
30 2022-03-30    44    25  0.016  0.027  0.3  0.004
31 2022-03-31    33    20  0.030  0.014  0.3  0.002

In [20]:
dust2203.dtypes

date    datetime64[ns]
pm10             int64
pm25             int64
o3             float64
no2            float64
co             float64
so2            float64
dtype: object

In [24]:
# 날짜를 년, 월, 일로 분해해서 컬럼 생성
dust2203['year'] = dust2203['date'].dt.year
dust2203['month'] = dust2203['date'].dt.month
dust2203['day'] = dust2203['date'].dt.day

In [25]:
dust2203.tail()

         date  pm10  pm25     o3    no2   co    so2  year  month  day
27 2022-03-27    34    15  0.039  0.009  0.3  0.002  2022      3   27
28 2022-03-28    24    12  0.034  0.013  0.2  0.002  2022      3   28
29 2022-03-29    35    18  0.024  0.024  0.3  0.003  2022      3   29
30 2022-03-30    44    25  0.016  0.027  0.3  0.004  2022      3   30
31 2022-03-31    33    20  0.030  0.014  0.3  0.002  2022      3   31

In [29]:
# 컬럼순서 재정렬
dust2203 = dust2203[['date', 'year', 'month', 'day', 'so2', 'co', 'o3', 'no2', 'pm10', 'pm25']]
dust2203.head()

        date  year  month  day    so2   co     o3    no2  pm10  pm25
1 2022-03-01  2022      3    1  0.003  0.3  0.028  0.026    46    32
2 2022-03-02  2022      3    2  0.003  0.3  0.028  0.018    48    33
3 2022-03-03  2022      3    3  0.004  0.3  0.034  0.021    52    30
4 2022-03-04  2022      3    4  0.004  0.4  0.035  0.026    93    47
5 2022-03-05  2022      3    5  0.003  0.2  0.039  0.010    89    21